## Compulsory Task 

In this compulsory task you will clean the country column and parse the date column in the **store_income_data_task.csv** file.

In [3]:
# Load up store_income_data.csv
import pandas as pd 
import numpy as np

df = pd.read_table('store_income_data_task.csv')
df.head()

  id,store_name,store_email,department,income,date_measured,country
0  1,"Cullen/Frost Bankers, Inc.",,Clothing,$5443...
1  2,Nordson Corporation,,Tools,$41744177.01,4-1-...
2  3,"Stag Industrial, Inc.",,Beauty,$36152340.34...
3  4,FIRST REPUBLIC BANK,ecanadine3@fc2.com,Autom...
4  5,Mercantile Bank Corporation,,Baby,$33552742....

1. Take a look at all the unique values in the "country" column. Then, convert the column to lowercase and remove any trailing white spaces.

In [17]:
income_df = pd.read_table('store_income_data_task.csv')
income_df.head()

countries = income_df['country'].unique()
print(f"There are {len(countries)} unique countries")
countries

# Convert to lower case
income_df['country'] = income_df['country'].str.lower()

# Remove trailing white spaces
income_df['country'] = income_df['country'].str.strip()

# Let us view the data
countries = income_df['country'].unique()
print(f"There are {len(countries)} unique countries")
countries

There are 77 unique countries
There are 37 unique countries

array(['united states/', 'britain', 'united states', 'britain/',
       'united kingdom', 'u.k.', 'sa', 'u.k/', 'america', nan, 's.a.',
       'england', 'uk', 's.a./', 'u.k', 'america/', 'sa.', '', 'uk.',
       'england/', 'united states of america', 'uk/', 'sa/', 'england.',
       'america.', 's.a..', 'united states of america.',
       'united states of america/', 'united states.',
       's. africasouth africa', 'britain.', '/', 'united kingdom.',
       's. africasouth africa/', 'united kingdom/',
       's. africasouth africa.', '.'], dtype=object)

2. Note that there should only be three separate countries. Eliminate all variations, so that 'South Africa', 'United Kingdom' and 'United States' are the only three countries.

In [59]:

# Example of DataFrame for demonstration
data = {
    'country': ['South Africa','south africa','United Kindom','UK','united states','USA','U.S.'],
    'values' : [1, 2, 3, 4, 5, 6, 7]
}
df = pd.DataFrame(data)

# List of standardized country names
standard_countries = ['South Africa','United Kingdom','United States']
from fuzzywuzzy import process

def get_closest_country(country, choices):
    closest_match = process.extractOne(country, choices)
    return closest_match[0] if closest_match[1] > 80 else country

# Apply the function to the 'country' column
df['country'] = df['country'].apply(lambda x:get_closest_country(x, standard_countries))

# Filter the DataFrame to include only the three countries
df = df[df['country'].isin(standard_countries)]

# verify the change
print(df['country'].unique())

['South Africa' 'United Kingdom' 'United States']

3. Create a new column called `days_ago` in the DataFrame that is a copy of the 'date_measured' column but instead it is a number that shows how many days ago it was measured from the current date. Note that the current date can be obtained using `datetime.date.today()`.

In [60]:
import pandas as pd
from datetime import datetime
from datetime import date

# DataFrame for demonstration
data = {
    'country': ['South Africa','south africa','United Kindom','UK','united states','USA','U.S.'],
    'values' : [1, 2, 3, 4, 5, 6, 7],

    'date_measured':['2023-06-01', '2023-06-02', '2023-06-03', '2023-06-04', '2023-06-05', '2023-06-06', '2023-06-07']
}
df = pd.DataFrame(data)

# Convert date_measured to datetime 
df['date_measured'] = pd.to_datetime(df['date_measured'])

# Get the current date
current_date = date.today()

# Calculate the difference in days and create the new column
df['days_ago'] = (current_date - df['date_measured'].dt.date).apply(lambda x: x.days)

# Verify new the column
print(df)

         country  values date_measured  days_ago
0   South Africa       1    2023-06-01       371
1   south africa       2    2023-06-02       370
2  United Kindom       3    2023-06-03       369
3             UK       4    2023-06-04       368
4  united states       5    2023-06-05       367
5            USA       6    2023-06-06       366
6           U.S.       7    2023-06-07       365